      </div>
            <div id="footer">
            	<p>Made by  <a href="twitter.com/tdobson">@tdobson</a> and <a href="twitter.com/czmj2">@czmj2</a>. Inspired by the old <a href="http://jobboard.geekup.org/">jobboard.geekup.org</a></p>
            </div>
        </div>
    </body>
</html>
