    <div class="footer">
        <div class="text-center col-xs-12 col-lg-12">
            <hr> 
            <p>Made in the People's Republic of South Yorkshire with love by  <a href="http://twitter.com/czmj2">@czmj2</a> and <a href="http://twitter.com/tdobson">@tdobson</a>.</p>
	    <p> Inspired by the old <a href="http://jobboard.geekup.org/">GeekUp Jobboard</a> by <a href="https://twitter.com/andrewdisley">Andrew Disley</a> and <a href="https://twitter.com/danielmorris">Dan Morris</a></p>
	<p class="text-center">
            	<a href="https://github.com/czmj/pieline" class="btn btn-primary">
              	<i class="glyphicon glyphicon-github"></i> 
              	Fork me on GitHub
        	</a>
        </p>
	</div>
	</div>
</div>

<!--Piwik-->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.tdobson.net/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 5]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.tdobson.net/piwik.php?idsite=5" style="border:0;" alt="" /></p></noscript>
<!--End Piwik Code-->

<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">
twttr.conversion.trackPid('l5lrl', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l5lrl&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l5lrl&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" /></noscript>

    </body>
</html>
