<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=page_title%></title>
        <meta name="description" content="Technology jobs in Manchester, Sheffield, Leeds and the North West">        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	<script src="//cdn.optimizely.com/js/2492780056.js"></script>

	<script src='https://www.google.com/recaptcha/api.js'></script>

        <script type="text/javascript" src="/js/all.js"></script>
    </head>
    <body>
<a href="https://github.com/czmj/pieline"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>

        <div class="container">
            
        <div class="container-narrow">

            <div class="navbar">
		          <%- include newjob.ejs %>
                <h3><a href="/">Pieline Job Board</a></h3>
	    </div>


