<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=page_title%></title>
        <meta name="description" content="Technology jobs in Manchester, Sheffield, Leeds and the North West">        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="//cdn.optimizely.com/js/2492780056.js"></script>
        <script type="text/javascript" src="/js/all.js"></script>
    </head>
    <body>
        <div class="container">
            
        <div class="container-narrow">

            <div class="navbar">
		          <%- include newjob.ejs %>
                <h3><a href="/">Pieline Job Board</a></h3>
            </div>
