<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=page_title%></title>
        <meta name="description" content="Technology jobs in Manchester, Sheffield, Leeds and the North West">        
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/normalize.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="//cdn.optimizely.com/js/2492780056.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
        <script type="text/javascript" src="/js/all.js"></script>
    </head>
    <body>

	 <div class="container">
            <nav class="navbar">
		<div class="col-xs-12 col-sm-5 col-md-6 navbar-right">
		          <%- include newjob.ejs %>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 navbar-left">
	                <h1 class="h2"><a href="/">Pieline</a><br> <small>North West Tech Jobs</small></h1>
				
		</div>
	    </nav>
