<div class="list-group col-xs-12 col-lg-7">
	<div class="panel-heading">Can't find what you're looking for?</div>
	<div class="panel-body list-group">
		<a href="/speculative" id="speculative" class="list-group-item">See companies who accept speculative applications</a>
		<a href="https://needhq.com/" id="needhq" class="list-group-item">See needhq.com for freelancers</a>
	</div>	
</div>		

