
<div class="">
<ul class="nav nav-pills nav-stacked col-md-2">
  <li role="presentation"><a href="/jobs/Manchester">Manchester</a></li>
  <li role="presentation"><a href="/jobs/Sheffield">Sheffield</a></li>
  <li role="presentation"><a href="/jobs/Liverpool">Liverpool</a></li>
  <li role="presentation"><a href="/jobs/Leeds">Leeds</a></li>
  <li role="presentation"><a href="/jobs/Chester">Chester</a></li>
  <li role="presentation"><a href="/jobs/Bolton">Bolton</a></li>
  <li role="presentation"><a href="/jobs/Preston">Preston</a></li>
  <li role="presentation"><a href="/jobs/Lancaster">Lancaster</a></li>
  <li role="presentation"><a href="/jobs/Warrington">Warrington</a></li>
</ul>
</div>
