<button type="button" class="nav nav-pills pull-right btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Hiring? Post a job: free for 30 days!</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
						<div class="col-md-6 col-xs-6" data-uk-scrollspy="{cls:'uk-animation-scale-up'}">
							<ul class="plan plan1">
								<li class="plan-name">
									Business plan
								</li>
								<li class="plan-price">
									<strong>£50</strong> per week per job
								</li>
								<li>
									<strong>24/7</strong> Support
								</li>
								<li class="plan-action">
									<a href="#" class="button btn-danger btn-lg">Post now</a>
								</li>
							</ul>
						</div>

						<div class="col-md-6 col-xs-6" data-uk-scrollspy="{cls:'uk-animation-scale-up', delay:300}">
							<ul class="plan plan2 featured">
								<li class="plan-name">
									Community plan
								</li>
								<li class="plan-price">
									<strong>Free</strong> for 30 days
								</li>
								<li>
									<strong>Email</strong> Support
								</li>
								<li class="plan-action">
								 <a href="https://tdobson.wufoo.com/forms/submit-a-job-to-pieline/" class="button btn-danger btn-lg">Post now</a>
								</li>
							</ul>
						</div>

    </div>
  </div>
</div>

