<%- include layouts/header.ejs %>

<h2>Sorry. Benny doesn't want you to see this</h2>

<div><a href="http://pieline.net"><img src="http://files.tdobson.net/benny.jpg" alt="a squirrel" /></a></div>
<p><em>This is Benny</em></p>
        
<%- include layouts/footer.ejs %>
