<%- include layouts/header.ejs %>
<br>
<div class="col-md-3">
        <%- include layouts/links.ejs %>
</div>
<div class="col-md-9">
<h2>Sorry. Benny doesn't want you to see this</h2>

<div><a href="javascript:history.go(-1)"><img src="http://files.tdobson.net/benny.jpg" alt="a squirrel" /></a></div>
<p><em>This is Benny</em></p>
<a href="javascript:history.go(-1)"><h4>Go back?</h4></a>
</div>
<%- include layouts/footer.ejs %>
