<%- include layouts/header.ejs %>
<%- include layouts/nav.ejs %>

<h2>Sorry. Benny doesn't want you to see this</h2>

<div><a href="javascript:history.go(-1)"><img src="http://files.tdobson.net/benny.jpg" alt="a squirrel" /></a></div>
<p><em>This is Benny</em></p>
<a href="javascript:history.go(-1)"><h4>Go back?</h4></a>
        
<%- include layouts/footer.ejs %>
