<%- include layouts/header.ejs %>
		<!-- wysihtml core javascript with default toolbar functions --> 
		<script src="/js/wysihtml/dist/wysihtml5x.min.js"></script>
        <script src="/js/wysihtml/dist/wysihtml5x-toolbar.js"></script>

		<!-- rules defining tags, attributes and classes that are allowed -->
		<script src="/js/wysihtml/parser_rules/advanced_and_extended.js"></script>

            <form method="post" action="/admin/add" class="col-md-12">
                <div class="form-group">
                    <label for="title" class="h4">Job Title: </label> <input type="text" name="title" required>
                </div>

                <div class="form-group">
                    <label for="company" class="h4">Company Name: </label> <input type="text" name="company" required>
                </div>

                <div class="form-group">
                    <label for="location" class="h4">Location: </label> <input type="text" name="location" required>
                </div>

                <div class="form-group">
                    <label for="url" class="h4">Jobs page URL: </label> <input name="url" required>
                </div>

<div id="wysihtml-toolbar" style="display: none;">
  <a data-wysihtml5-command="bold">bold</a>
  <a data-wysihtml5-command="italic">italic</a>
  
  <!-- Some wysihtml5 commands require extra parameters -->
  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a>
  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a>
  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a>
  
  <!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
  <a data-wysihtml5-command="createLink">insert link</a>
  <div data-wysihtml5-dialog="createLink" style="display: none;">
    <label>
      Link:
      <input data-wysihtml5-dialog-field="href" value="http://" class="text">
    </label>
    <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
  </div>
</div>
                
                <div class="form-group">
                    <label for="description" class="h4">Job Description: </label><textarea  class="form-control" rows=10 spellcheck="true" name="description" required id="wysihtml-textarea" placeholder="Enter your text ..."></textarea>
		<br>
                    <label for="contact_details" class="h4">How to contact: </label><textarea class="form-control" rows=10 spellcheck="true" name="contact_details" required></textarea>
                </div>
                
                <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active"><input type="radio" name="hours" value="0" checked>Full time</label>
                <label class="btn btn-default"><input type="radio" name="hours" value="1">Contract</label>
                </div>
                
                <br><br>
                
                <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active"><input type="radio" name="contact_mention" value="1" checked>Mention pieline</label>
                <label class="btn btn-default"><input type="radio" name="contact_mention" value="0">Don't mention pieline</label>
                </div>
                
                <br><br>
                
                <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default"><input type="radio" name="contact_recruiters" value="1">Allow recruiters</label>
                <label class="btn btn-default active"><input type="radio" name="contact_recruiters" value="0" checked>No recruiters</label>
                </div>
                
                <br><br>
                
                <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default"><input type="radio" name="category" value="Development">Development</label>
                <label class="btn btn-default"><input type="radio" name="category" value="Design">Design</label>
                <label class="btn btn-default"><input type="radio" name="category" value="Business">Business</label>
                <label class="btn btn-default"><input type="radio" name="category" value="Support">Support</label>
                <label class="btn btn-default"><input type="radio" name="category" value="Communications">Communications</label>
                <label class="btn btn-default"><input type="radio" name="category" value="Other">Other</label>
                </div>
                
                <br><br>

				<p>Datepicker doesn't work yet. Input dateposted in the format yyyy-MM-dd.</p>
                <script>
                        $(document).ready(function() {
                            $(".dateposted").datepicker({
                            	format:'yyyy-mm-dd'
                            });
							
				var d = new Date();
				var today = d.toISOString().slice(0,10);
				document.getElementById('dateposted').placeholder = today;
				document.getElementById('dateposted').value = today;

                        });
						

                </script>

			<input type="text" name="dateposted" id="dateposted" >
				<br>
				<br>
                <input class="btn btn-success btn-lg" type="submit" name="submit" value="Post live!">                 
                
            </form>

<script>
var editor = new wysihtml5.Editor("wysihtml-textarea", { // id of textarea element
  toolbar:      "wysihtml-toolbar", // id of toolbar element
  parserRules:  wysihtml5ParserRules // defined in parser rules set 
});
</script>
        
<%- include layouts/footer.ejs %>
