<%- include layouts/header.ejs %>
<%- include layouts/nav.ejs %>
<%- include layouts/category.ejs %>

<div class="list-group col-xs-12 col-md-8">
        <a href="https://www.bytemark.co.uk/company/employment/" class="list-group-item list-group-item-success">Sponsored link: Bytemark Hosting are hiring in Manchester</a>

<h4>I'm sorry. There are no jobs in this category yet. </h4>
</div>

<%- include layouts/footer.ejs %>
