<h2>Liverpool</h2>

    <ul>
		<li><a href="http://www.studiomashbo.com/work-for-us">Studio Mashbo</a></li>
	</ul>

<h2>Manchester</h2>

    <ul>
		<li><a href="http://madebyshape.co.uk/blog/do-you-want-a-placement-at-shape">Shape</a></li>
	</ul>


<h2>Sheffield</h2>

    <ul>
		<li><a href="http://rckt.co.uk/prospective">Rocket</a></li>
	</ul>



