body {
  padding-top: 20px;
  padding-bottom: 40px;

}

    
.noshadow {
    box-shadow: none !important;
}
.cities-nav{
	padding:10% !important;
	background:#fff !important;
}
.list-group{
	font-size: 11pt;
}
.list-group-search{
	border-radius:0 !important;
	width:100% !important;
}

.border-top-0>:first-child{
	border-top-left-radius:0 !important;
	border-top-right-radius:0 !important;
}

@media (min-width: 768px){
.list-group-top>:first-child{
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

}
@media (max-width: 768px){
	.margin-top>:first-child{
		margin-top:2em;
	}

}


/* Modal*/
.panel, .modal-content, .list-group{
    padding:0 !important;
    margin:0;
}
.plan {
    max-width: 300px;	
}

