body {
  padding-top: 20px;
  padding-bottom: 40px;

}

/* Custom container */
.container-narrow {
  max-width: 800px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right:15px;
}
.container-narrow > hr {
  margin: 30px 0;
}
    
.noshadow {
    box-shadow: none !important;
}


.view-job > p{
  margin-top: 1.2em;
}

/*admin page*/
.btn-group .btn{
    margin-bottom: 5%;
}


/* Modal*/
.panel, .modal-content, .list-group{
    padding:0 !important;
    margin:0;
}
.plan {
    max-width: 300px;	
}